<h1>Page Management</h1>
<% @pages.each do |page| %>
<div class="row well">
  <div class="col-md-1">
    <%= image_tag page.image %>
  </div>
  <div class="col-md-9">
    <b><%= page.name %></b> <br/>
    Language : <%= page.language.name %>
  </div>
  <div class="col-md-2">
    <%= link_to "Update", edit_page_path(page), class: "btn btn-default" %>
  </div>
</div>
<% end %>

<%= link_to "+ Add new pages", omniauth_authorize_path(:user, "twitter"), class: "btn btn-primary" %>
