<header class="row">
	<h1 class="col-md-8">Campaigns List</h1>
	<div class="col-md-4"><%= link_to "New Campaign", new_campaign_path, class:"btn btn-info" %></div>
</header>

<hr/>

<% @campaigns.each do |camp| %>
<article class="row">
	<div class="col-md-8">
		<blockquote>
			<p><%= camp.source_text %></p>
		</blockquote>
		<p>Status: <%= camp.get_status %></p>
		<p>Camp cost: <%= camp.used_credits %></p>
	</div>
	<div class="col-md-4">
		<%= link_to "Show details", camp, class:"btn btn-info" %>
		<%= link_to "Delete", camp, :method=>:delete, class:"btn btn-warning" %>
	</div>
</article>

<hr>
<% end %>