<h1>Campaigns List</h1>

<ul>
	<% @campaigns.each do |camp| %>
	<article>
		<p>
			<%= camp.source_text %>
		</p>
		<p>Status: <%= camp.status %></p>
		<p>Camp cost: <%= camp.used_credits %></p>
		<p>Number of translations : <%= camp.translations.count %></p>

		<%= link_to "Show details", camp, class:"btn btn-default" %>
	</article>

	<hr>
	<% end %>
</ul>